/*
* @By Vi Quang Hoa
* @Mobile 0983.50.99.56
* @Email vyquanghoa@gmail.com
* @Website http://viquanghoa.com
* @Yahoo vyquanghoa
* @Skype vyquanghoa
* @Facebook https://www.facebook.com/vyquanghoa
* @Created on Oct 22, 2014, 2:45:40 PM
*/
.vsidebar{
    position: fixed;
    right: 0;
    bottom: 100px;
}
.vsidebar ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.vsidebar li{
    margin-bottom: 1px;
    height: 50px;
}
.vsidebar li a{
    display: block;
    position: relative;
}
.vsidebar li .icon{
    display: block;
    width: 50px;
    height: 50px;
    background: #69BD43;
    overflow: hidden;
}
.vsidebar li .txt{
    display: none;
    position: absolute;
    right: 50px;
    height: 50px;
    line-height: 50px;
    top: 0;
    white-space: nowrap;
    color: #fff;
    border-left: 4px solid #337714;
    padding: 0 20px;
    font-size: 14px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    background: #4e9e2a;
}
.vsidebar li:hover .txt{
    width: auto;
    padding: 0 20px;
    border-right: 1px solid #57b12e;
}
.vsidebar li:hover .icon{
    background: #337714;
}
.vsidebar li:hover .icon:before{
    border-left: 1px solid #225909;
    content: '';
    position: absolute;
    height: 100%;
    width: 0;
    left: 0;
    top: 0
}